<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jeu</title>
    <link rel="stylesheet" href="gameStyle.css">
  </head>
  <body id="game">
    <div class="app">
      <div class="char" id="char" style="display: none;"><%= char %></div>
      <div class="Pseudo" id="Pseudo"> 
        <p id="ps"><%= username %></p>
      </div>
      <form id="form1" action="login" method="post">
         <input type="image" id="disconnect" value="disconnect" src="disconnect.png">
      </form>

     
      <div class="msgContainer" id="msgContainer">
      </div>
      <div id="isWritting"></div>
      <form method="POST" id="chatForm">
        <input type="text" id="msgInput" onkeypress="writting()" onblur="notwritting()">
        <select name="receiver" id="receiverInput">
          <option value="all">A tous</option>
          <% users.forEach(user => { %>
            <option value="<%= user.pseudo %>"><%= user.pseudo %></option>
          <% }); %>
        </select>
        <input type="submit" id="Send" value="Envoyer">
      </form>
    </div> 
    <canvas id="canvas1"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="gameScript.js"></script>
  </body>
</html>
